[submodule "thirdparty/gaussian_rasterizer"]
	path = thirdparty/gaussian_rasterizer
	url = https://github.com/VladimirYugay/gaussian_rasterizer.git
[submodule "thirdparty/diff-gaussian-rasterization-w-pose"]
	path = thirdparty/diff-gaussian-rasterization-w-pose
	url = https://github.com/rmurai0610/diff-gaussian-rasterization-w-pose.git
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm.git
